@model IEnumerable<Cartas_Aifa_Api.Models.TramiteAcademico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Autoridad.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetalleEtapa.TipoEtapa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudiante.NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCarta.NombreCarta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Autoridad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DetalleEtapa.TipoEtapa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudiante.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCarta.NombreCarta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
